
<h1>Contact Information</h1>

<form>

  <div>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName">
  </div>

  <br />

  <div>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName">
  </div>

  <br />

  <div>
    <label for="dietaryPreferences">Dietary Preferences</label>
    <select id="dietaryPreferences">
      <option *ngFor="let diet of dietaryPreferenceOptions" [value]="diet">{{diet}}</option>
    </select>
  </div>

  <br />

  <div>
    <label for="isMarried">Married</label>
    <input type="checkbox" id="isMarried">
  </div>

  <br />

  <div>
    <label>Age</label>
    <div *ngFor="let range of ageRangeOptions; let i=index">
      <input type="radio" id="{{ 'ageRange-' + i }}" value="{{range}}">
      <label for="{{ 'ageRange-' + i }}">{{range}}</label>
    </div>
  </div>

  <br />

  <button (click)="clearModel()">Clear</button>
  <button type="submit">Submit</button>

</form>

<pre>{{ model | json }}</pre>
